<div id="page">
  <div id="pres-container">
    <div id="title">
      <h1><span>Bienvenue</span><br>à la miellerie</h1>
    </div>
    <div id="text-container-pres">
        <p>
        Nous proposons une large gamme de miels français,<br> 
        du crémeux au liquide, doux et fort il y en a pour tout les goûts.<br> 
        Les miels sont produits par nos soins.<br> 
        </p>
      </div>
    </div>
  </div>
  <div id="category-container">
    <div id= "title-product">
      <h2>Nos produits</h2>
    </div>
    <div id="category-card-container">
      <% @categories.each do |category| %>
        <div class="cards">
          <h3><%= category.title %></h3>
          <div id="image-card-container">
            <%= image_tag category.image if category.image.attached? %> 
          </div>
          <div id="card-description">
            <p><%= category.description %></p>
          </div>
          <div id="navigation-links"> 
            <%= link_to category.title, category_products_path(category) %> 
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
