/*
 *This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
	--background-color-body: #F3EFE6;
	--background-color-card: #e6dfcc;
	--background-color-button: #F4C542;
	
	--color-text: #3f3a33;
	--color-card-text: #5d564f;
	--color-button-text: #e6dfcc; 
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--background-color-body);
}



.pages {
	margin: 0;
	padding: 0;
	color: var(--color-text);
}




/* Style général pour le navbar */
#navbar {
	background-color: #E69530;
  	padding: 1em;
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
}

#navbar nav {
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	width: 100%;
}


#navbar #logo img {
  	width: 3em;
  	height: auto;
	border-radius: 10em;
}
/* Liens de navigation */
#navlinks {
	display: flex;
 	margin-left: auto; /* Pousse les liens de navigation à droite */	
}

#navlinks ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	display: flex;
	font-size: 1em;
}

#navlinks ul li {
 	margin-left: 20px;
	
}

#navlinks ul li a {
  	text-decoration: none;
  	color: white;
  	padding: 6px 8px;
  	transition: background-color 1.3s ease;

}

#navlinks ul li a:hover {
  	background-color: #575758;
  	border-radius: 6px;
}

/* Dropdown menu */
#dropdown_menu {
  	position: relative;
  	margin-left: 20px;
}

#dropdown_menu_image {
  	width: 40px;
  	height: 40px;
	background-color: #fff;
  	border-radius: 50%;
  	cursor: pointer;
}

#dropdown_toggle {
  	position: absolute;
  	opacity: 0;
  	width: 1px;
  	height: 1px;
}

/* Cacher le menu par défaut */
#dropdown_menu ul {
  	background-color: #7A5230;
  	display: none;
  	position: absolute;
  	right: 0;
  	list-style-type: none;
  	padding: 10px;
  	margin: 0;
  	margin-bottom: 2em;
  	border-radius: 6px;
  	box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
  	transform: translateY(2em);
}

#dropdown_menu ul li {
  	padding: 6px 0;
}

#dropdown_menu ul li a,
#dropdown_menu ul li button {
  	color: white;
  	text-decoration: none;
 	background: none;
  	border: none;
  	cursor: pointer;
  	padding: 11px 20px;
  	display: block;
  	text-align: left;
}

#dropdown_menu ul li a:hover,
#dropdown_menu ul li button:hover {
  	background-color: #575758;
  	border-radius: 6px;
}

/* Montrer le menu au clic */
#dropdown_toggle:checked + label + ul {
  	display: block;
}

/* Register links (liens affichés lorsque l'utilisateur n'est pas connecté) */
#register {
  	display: flex;
	margin-right: 10px;
}

#register ul {
  	list-style-type: none;
  	margin: 0;
 	padding: 0;
  	display: flex;
	font-size: 1em;
}

#register ul li {
 	 margin-left: 20px;
}

#register ul li a {
  	text-decoration: none;
  	color: white;
  	padding: 6px 10px;
  	transition: background-color 1.3s ease;
}

#register ul li a:hover {
  	background-color: #575758;
  	border-radius: 6px;
}


/* home page */
#page {
	width: 100%;
	margin: 0;
    display: flex;
	flex-direction: column;
	padding: 0;
}

#container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 auto;	
	padding: 20px;
	box-sizing: border-box;
}

#container  h1 {
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: 3em;
	margin-bottom: 20px;
}


#aboutus-container {
	width: 60%; 
	display: flex;
	flex-direction: column; 
	justify-content: flex-start;
}

/* Style pour les paragraphes dans le conteneur aboutus uniquement */
#aboutus-container p {
    font-size: 1.5rem; 
    line-height:1.1; 
    color: orange; 
	text-align: justify;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}



.button-products {
	display: flex;
	justify-content: center; 
	align-items: center; 
	margin-top: 20px;
}

.button-products a {
	display: inline-block;
	background-color: #4CAF50; 
	color: var(--color-text); 
	padding: 10px 20px;
	text-decoration: none;
	font-size: 1.2em;
	border-radius: 5px; 
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
	transition: background-color 0.3s ease; 
}

#image-container {
	padding: 1em;
	width: 40%; 
	display: flex;
	justify-content: flex-end;
}

#image-container img {
	width: 100%;
	height: auto; 
	border-radius: 8px; 
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}




@media (max-width: 1508px) {
  #container {
    flex-direction: column;
    align-items: center;
  }

  #text-home-page-container, #image-container {
    width: 100%; 
    text-align: center;
  }

  #image-container {
    margin-top: 20px; 
  }
}


#category-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


#category-card-container {
	display: flex;
	flex-direction: row; 
	justify-content: center;
	align-items: flex-start;
	gap: 20px; 
	flex-wrap: wrap;
	width: 100%;
}


.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 0.75rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 20em;
}

.cards:hover {
    transform: translateY(-5px); 
}

.cards h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#image-card-container img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

#card-description {
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
}

.button-product a {
	background-color: var(--background-color-button);
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1rem;
    color: #4CAF50;
    transition: color 0.3s ease;
}

#navigation-links a:hover {
    color: #45a049;
}


