/*
 *This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
	--background-color-button:  #228B22;
	--color-text: #f1f1f1;

}

body {
	margin: 0;
	padding: 0;
}



.pages {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
}


body {
	background-image: url("lavander.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

/* Style général pour le navbar */
#navbar {
  	padding: 11px;
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
}

#navbar nav {
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	width: 100%;
}


#navbar #logo img {
  	width: 10vh;
  	height: auto;
	border-radius: 10em;
}
/* Liens de navigation */
#navlinks {
	display: flex;
 	margin-left: auto; /* Pousse les liens de navigation à droite */
}

#navlinks ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	display: flex;
}

#navlinks ul li {
 	 margin-left: 20px;
}

#navlinks ul li a {
  	text-decoration: none;
  	color: white;
  	padding: 6px 10px;
  	transition: background-color 1.3s ease;
}

#navlinks ul li a:hover {
  	background-color: #575758;
  	border-radius: 6px;
}
em {
	color: var(--color-text);

}
/* Dropdown menu */
#dropdown_menu {
  	position: relative;
  	margin-left: 20px;
}

#dropdown_menu_image {
  	width: 40px;
  	height: 40px;
	background-color: #fff;
  	border-radius: 50%;
  	cursor: pointer;
}

#dropdown_toggle {
  	position: absolute;
  	opacity: 0;
  	width: 1px;
  	height: 1px;
}

/* Cacher le menu par défaut */
#dropdown_menu ul {
  	background-color: transparent;
  	display: none;
  	position: absolute;
  	right: 0;
  	list-style-type: none;
  	padding: 10px;
  	margin: 0;
  	margin-bottom: 2em;
  	border-radius: 6px;
  	box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
  	transform: translateY(1.5em);
}

#dropdown_menu ul li {
  	padding: 6px 0;
}

#dropdown_menu ul li a,
#dropdown_menu ul li button {
  	color: white;
  	text-decoration: none;
 	background: none;
  	border: none;
  	cursor: pointer;
  	padding: 11px 20px;
  	display: block;
  	text-align: left;
}

#dropdown_menu ul li a:hover,
#dropdown_menu ul li button:hover {
  	background-color: #575758;
  	border-radius: 6px;
}

/* Montrer le menu au clic */
#dropdown_toggle:checked + label + ul {
  	display: block;
}

/* Register links (liens affichés lorsque l'utilisateur n'est pas connecté) */
#register {
  	display: flex;
	margin-right: 10px;
}

#register ul {
  	list-style-type: none;
  	margin: 0;
 	padding: 0;
  	display: flex;
}

#register ul li {
 	 margin-left: 20px;
}

#register ul li a {
  	text-decoration: none;
  	color: white;
  	padding: 6px 10px;
  	transition: background-color 1.3s ease;
}

#register ul li a:hover {
  	background-color: #575758;
  	border-radius: 6px;
}


/* home page */
#page {
	margin: 1em auto;
	background-image: url("homepage.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 1em;
	margin-bottom: 5vh;
	width: 100vh;
	display: flex;
	flex-direction: column;
	transform: translateY(1vh);
}

#pres-container {
	width: auto;
	height: 30vh;
	background-image: url("home-pres.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: var(--color-text);
	display: flex;
	align-items: center;
	justify-content: center;
	margin:  1em;
	padding: 10px;

}

#category-container h1 {
	text-align: center;
	color:var(--color-text);
}

#category-container {
	margin: 5vh 1em;
	background-image: url("homepage_darker.webp");
	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
}

#category-card-container {
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: center;
    	gap: 20px;
	padding: 2em;
}


.cards {
	background-image: url("categorycard_even_lighter.webp");
	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    	display: flex;
    	flex-direction: column;
    	justify-content: space-between;
    	align-items: center;
    	border-radius: 10px;
    	width: 20em;
    	height: auto;
    	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    	text-align: center;
}


h3 {
	color: var(--color-text);
}

#image-card-container {
    	width: 20vh;
    	height: auto;

}

#image-card-container img {
    	width: 100%;
    	height: 100%;
}

#card-description p {
	color: var(--color-text);
}

#navigation-links {
	margin: 1em;
}
#navigation-links a {
	display: inline-block;
	padding: 10px 20px;
	background-color: var(--background-color-button);
	color: var(--color-text);
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	transition: background-color 0.3s ease;
}

#navigation-links a:hover {
	background-color: #1c6f1c;
}


/* logIn_SignUp page */

.pages h2 {
    	font-size: 2em;
    	color: var(--color-text);
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vh;
}


.field input[type="email"],
.field input[type="password"] {
	width: 100vh;
    	border: none;
	margin: 1vh;
	padding: 1em;
}

.field input[type="checkbox"] {
    	margin-right: 1em;
}

.remember {
	color: var(--color-text);
	display: flex;
	justify-content: center;
	align-items: center;
}

.actions {
	display: flex;
	justify-content: center;
    	margin-top: 20px;
}

.actions input[type="submit"] {
    	width: 100vh;
    	padding: 1em;
	background-color: var(--background-color-button);
    	color: var(--color-text);
   	border: none;
    	cursor: pointer;
}



.devise-shared {
    	margin-top: 20px;
    	text-align: center;
}

.devise-shared ul {
    	list-style-type: none;
    	padding: 0;
    	margin: 0;
}

.devise-shared li {
    	margin: 10px 0;
}

.devise-shared a {
    	color: var(--color-text);
    	text-decoration: none;
    	font-weight: bold;
}



/* footer */


#about {
  	float: left;
  	width: 33%;
	color: var(--color-text);
	font-size: 1em;
}

#links-footer
